## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [1]:
import numpy as np
import pandas as pd

In [2]:
wastestats = pd.read_csv("datasets/wastestats.csv")

In [3]:
wastestats.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [4]:
wastestats['waste_type'].unique()

array(['Food', 'Paper/Cardboard', 'Plastics', 'C&D',
       'Horticultural waste', 'Wood', 'Ferrous metal',
       'Non-ferrous metal', 'Used slag', 'Ash & Sludge', 'Glass',
       'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Food waste',
       'Construction Debris', 'Wood/Timber', 'Horticultural Waste',
       'Ferrous Metal', 'Non-ferrous Metals', 'Used Slag', 'Sludge',
       'Scrap Tyres', 'Ferrous Metals', 'Others', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)'], dtype=object)

In [5]:
types = ['Plastics', 'Ferrous metal', 'Non-ferrous metal', 'Glass', 'Ferrous Metal',
        'Non-ferrous Metals', 'Ferrous Metals', 'Non-ferrous metals', 'Non-Ferrous Metal', 'Plastic']

In [6]:
waste_stats_filtered = wastestats[(wastestats['waste_type'].isin(types)) 
                         & ( wastestats['year'] > 2014 )]

In [7]:
waste_stats_filtered.replace({'Ferrous Metal': 'Ferrous metal', 
                              'Ferrous Metals': 'Ferrous metal',
                              'Non-ferrous metals' : 'Non-ferrous metal',
                              'Non-ferrous Metals' : 'Non-ferrous metal',
                             'Plastic': 'Plastics'}, inplace=True)

/Users/mohamedgamal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [8]:
waste_stats_filtered.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
2,Plastics,762700,59500.0,822200,0.07,2016
6,Ferrous metal,6000,1351500.0,1357500,0.99,2016
7,Non-ferrous metal,1300,95900.0,97200,0.99,2016
10,Glass,57600,14700.0,72300,0.20,2016
17,Plastics,766800,57800.0,824600,0.07,2015

In [9]:
waste_2018_2019 = pd.read_csv("datasets/2018_2019_waste.csv")

In [10]:
waste_2018_2019.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [11]:
waste_2018_2019['Waste Type'].unique()

array(['Construction& Demolition', 'Ferrous Metal', 'Paper/Cardboard',
       'Plastics', 'Food', 'Wood', 'Horticultural', 'Ash & Sludge',
       'Textile/Leather', 'Used Slag', 'Non-Ferrous Metal', 'Glass',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [12]:
waste_2018_2019_filtered = waste_2018_2019[(waste_2018_2019['Waste Type'].isin(types)) 
                         & ( waste_2018_2019['Year'] > 2014 )]

In [13]:
waste_2018_2019_filtered.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
1,Ferrous Metal,1278,1270,2019
3,Plastics,930,37,2019
10,Non-Ferrous Metal,126,124,2019
11,Glass,75,11,2019
16,Ferrous Metal,1269,126,2018

In [14]:
waste_2018_2019_filtered.rename(columns={'Year': 'year',
                 'Waste Type': 'waste_type',
                 "Total Recycled ('000 tonnes)": 'total_waste_recycled_tonne'}, inplace=True)

/Users/mohamedgamal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [15]:
waste_2018_2019_filtered['total_waste_recycled_tonne'] =\
waste_2018_2019_filtered['total_waste_recycled_tonne'] * 1000

/var/folders/0r/38zgwmn509g5tw2j4r44w93m0000gn/T/ipykernel_54472/3742494901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  waste_2018_2019_filtered['total_waste_recycled_tonne'] =\

In [16]:
waste_2018_2019_filtered.head()

,waste_type,Total Generated ('000 tonnes),total_waste_recycled_tonne,year
1,Ferrous Metal,1278,1270000,2019
3,Plastics,930,37000,2019
10,Non-Ferrous Metal,126,124000,2019
11,Glass,75,11000,2019
16,Ferrous Metal,1269,126000,2018

In [17]:
waste_2018_2019_filtered['waste_type'].unique()

array(['Ferrous Metal', 'Plastics', 'Non-Ferrous Metal', 'Glass'],
      dtype=object)

In [18]:
energy_saved = pd.read_csv("datasets/energy_saved.csv")

In [19]:
energy_saved.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [20]:
materials = energy_saved.iloc[2][1:5]

In [21]:
for material in materials:
    print(material)

Plastic
Glass
Ferrous Metal
Non-Ferrous Metal

In [22]:
energy_saved_data = energy_saved.iloc[3][1:5]

In [23]:
for data in energy_saved_data:
    print(data)

5774 Kwh
42 Kwh
642 Kwh
14000 Kwh

In [24]:
data = {'Plastics': energy_saved_data[0],
        'Glass' : energy_saved_data[1],
        'Ferrous Metal' : energy_saved_data[2],
        'Non-Ferrous Metal' : energy_saved_data[3],
       'Ferrous metal' : energy_saved_data[2],
       'Non-ferrous metal': energy_saved_data[3]}

In [25]:
energy_saved_filtered = pd.DataFrame(data, index=[0])

In [26]:
energy_saved_filtered

,Plastics,Glass,Ferrous Metal,Non-Ferrous Metal,Ferrous metal,Non-ferrous metal
0,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,642 Kwh,14000 Kwh

In [27]:
energy_saved_filtered = energy_saved_filtered.apply(lambda x: x.str.replace(' Kwh', ''))\
.apply(pd.to_numeric)

In [28]:
energy_saved_filtered

,Plastics,Glass,Ferrous Metal,Non-Ferrous Metal,Ferrous metal,Non-ferrous metal
0,5774,42,642,14000,642,14000

In [29]:
energy_saved_filtered = energy_saved_filtered.T.reset_index()

In [30]:
energy_saved_filtered

               index      0
0           Plastics   5774
1              Glass     42
2      Ferrous Metal    642
3  Non-Ferrous Metal  14000
4      Ferrous metal    642
5  Non-ferrous metal  14000

In [31]:
energy_saved_filtered.rename(columns={'index':'waste_type', 0: 'energy_saved'}, inplace=True)

In [32]:
energy_saved_filtered

          waste_type  energy_saved
0           Plastics          5774
1              Glass            42
2      Ferrous Metal           642
3  Non-Ferrous Metal         14000
4      Ferrous metal           642
5  Non-ferrous metal         14000

In [33]:
waste = pd.merge(waste_stats_filtered, waste_2018_2019_filtered, how='outer')

In [34]:
waste.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year,Total Generated ('000 tonnes)
0,Plastics,762700.0,59500.0,822200.0,0.07,2016,NaN
1,Ferrous metal,6000.0,1351500.0,1357500.0,0.99,2016,NaN
2,Non-ferrous metal,1300.0,95900.0,97200.0,0.99,2016,NaN
3,Glass,57600.0,14700.0,72300.0,0.20,2016,NaN
4,Plastics,766800.0,57800.0,824600.0,0.07,2015,NaN

In [35]:
waste_data = pd.merge(waste, energy_saved_filtered, how='outer',on=['waste_type'])

In [36]:
waste_data.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year,Total Generated ('000 tonnes),energy_saved
0,Plastics,762700.0,59500.0,822200.0,0.07,2016,NaN,5774
1,Plastics,766800.0,57800.0,824600.0,0.07,2015,NaN,5774
2,Plastics,763400.0,51800.0,815200.0,0.06,2017,NaN,5774
3,Plastics,NaN,37000.0,NaN,NaN,2019,930.0,5774
4,Plastics,NaN,41000.0,NaN,NaN,2018,949.0,5774

In [37]:
waste_data = waste_data.sort_values('year')

In [38]:
waste_data = waste_data[['total_waste_recycled_tonne', 'energy_saved', 'year']]

In [39]:
waste_data.dropna(inplace=True)

In [40]:
waste_data['year'] = waste_data.year.astype('int64')

In [41]:
waste_data.set_index('year',inplace=True)

In [42]:
waste_data.head()

      total_waste_recycled_tonne  energy_saved
year
2015                    160400.0         14000
2015                     57800.0          5774
2015                     14600.0            42
2015                   1333300.0           642
2016                     14700.0            42

In [43]:
waste_data['total_energy_saved'] = \
waste_data['total_waste_recycled_tonne'] * waste_data['energy_saved']

In [44]:
annual_energy_savings = waste_data.groupby(['year'])['total_energy_saved'].sum().reset_index()

In [45]:
annual_energy_savings.set_index('year',inplace=True)

In [46]:
annual_energy_savings.head()

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09

In [47]:
import pandas as pd
import re
import numpy as np

convert_index = lambda x: [re.match('(\d{4})', date).group(0) for date in x.index.values.astype(str)]

test_solution = pd.DataFrame({'year': [2015, 2016, 2017, 2018, 2019],\
                             'total_energy_saved': [3.435929e+09, 2554433400, 2.470596e+09, 2.698130e+09,
       2.765440e+09]}).set_index('year')

def test_project():
    
    # Check whether the answer has been saved and is a DataFrame
    assert 'annual_energy_savings' in globals() and type(annual_energy_savings) == pd.core.frame.DataFrame, \
    "Have you assigned your answer to a DataFrame named `annual_energy_savings`?"
    
    # Check whether they have the right column in their DataFrame
    assert annual_energy_savings.columns.isin(['total_energy_saved']).any(), \
    "Your DataFrame is missing the required column!"
    
    # Check whether they have included the correct index
    assert annual_energy_savings.index.name == 'year', \
    "Your DataFrame is missing the required index!"
    
    # Check whether the values (converted to an integer) contain in the only column are correct
    # and check whether the index is identical
    assert (test_solution.total_energy_saved.astype('int64').values == \
    annual_energy_savings.total_energy_saved.astype('int64').values).all()\
    and convert_index(test_solution) == convert_index(annual_energy_savings), \
    "Your submitted DataFrame does not contain the correct values!"

test_project()